<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Project test 3</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(messages)}">
        <h2>Messages</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Text</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}"><a href="/message/${message.id}">Id</a></td>
                <td th:text="${message.to}">To</td>
                <td th:text="${message.from}">from</td>
                <td th:text="${message.text}">text</td>
                <td><a th:href="${ '/message/' + message.id}">View</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>